.card-main{
    position: relative;
    padding: 0 3px 3px 3px;
    height: 400px;
    overflow: hidden;
}

.top_hony-drop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}


.product-image-wrap{
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.product-image-wrap img{
    height: inherit;
    width: auto;
    scale: 1;
}

.product-image-wrap img:hover{
    animation: zoomImage 1s ease 0s 1 normal forwards;
}

@keyframes zoomImage {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}


/* *****************productScreen****************** */



.other-image-wrap{
    padding: 10px 0px; 
}

.other-image-wrap img{
    margin: 5px 0px;
    border: 1px solid #d1d1d1;
    padding: 2px;
}

.order-wrap{
    position: fixed;
    left:  10px;
}

@media screen and (max-width:480px) {
    .order-wrap{
        position: initial;
    }
}